/* Navbar */
.navbar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

.navbar a {
  padding: 8px 5px;
}

.navbar .logo {
  margin-bottom: 5px;
}

/* Icons */
.flex-items {
  flex-direction: column;
}

/* Flex Colunms */
.flex-columns .column, .flex-grid .column {
  flex: 100%;
  max-width: 100%;
}

/* Person */
.comments .person {
  display: flex;
  flex-direction: column;
  text-align: center;
}
